.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divGroup1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 83vw;
}

.divGroup2 {
    display: flex;
    justify-content: space-between;
    width: 70vw;
}


.totalQuiz,
.totalQuestions,
.totalImpressions {
    border-radius: 10px;
    background: #FFF;

    width: 295px;
    height: 145px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;


}

.totalQuiz,
.totalQuestions {
    margin-right: 51px;
}

.totalQuizNumber1 {
    color: #FF5D01;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.totalQuizText1 {
    color: #FF5D01;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.totalQuestionsNumber1 {
    color: #60B84B;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.totalQuestionsText1 {
    color: #60B84B;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.totalImpressionsNumber1 {
    color: #5076FF;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.totalImpressionsText1 {
    color: #5076FF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* width: 83vw; */
}

.textHeading1 {
    color: #474444;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.divGroup3 {
    display: flex;

    flex-direction: column;
    width: 70vw;

    position: relative;
    left: 6.5vw;
    top: 49px;

}

.divGroup5 {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 1075px;
    height: 317px;

    overflow: scroll;
}